@import '../../../../themes/variables.scss';

.not-found {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 450px;
}

h1 {
  margin-top: 2px;
  text-align: center;
  font-family: map-get($font, secondary);
  font-size: 28px;
  color: $primary-color;
}

@media only screen and (max-width: 400px) {
  .not-found {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
  }
  h1 {
    margin-top: 2px;
    text-align: center;
    font-family: map-get($font, secondary);
    font-size: 20px;
    color: $primary-color;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .not-found {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 350px;
  }
  h1 {
    margin-top: 2px;
    text-align: center;
    font-family: map-get($font, secondary);
    font-size: 28px;
    color: $primary-color;
  }
}
