@import "src/themes/variables.scss";

.container {
  padding-top: 100px;
  min-height: 50vh;
  display: flex;
  justify-content: center;

  mat-card {
    display: flex;
    text-align: center;
    font-family: map-get($font, primary);

    .input-field {
      display: flex;
      align-items: center;

      .row{
        position: absolute;
        margin-bottom: 30px;
        right: 20px;

        display: flex;
        align-items: center;
        gap: 1rem;

        .password-strength {

          padding: 10px;
          border-radius: 15px;
          color: $primary-contrast;
          font-family: map-get($font, primary);
        }

        .copy{
          height: 55px;
        }
      }

      input {
        position: relative;
        display: block;
        height: 60px;
        width: 100%;
        border-radius: 10px;
        font-size: 18px;
        margin: auto auto 30px;
        font-family: map-get($font, primary);
      }

    }

    .options {
      display: block;

      .special {
        margin-bottom: 30px;
      }
    }

    button {
      height: 43px;
      font-family: map-get($font, primary);
    }
  }

  .password-change {
    animation: password-change 0.5s;
  }

  @keyframes password-change {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}


@include media("<tablet") {
  .container {
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@include media(">mobile", "<desktop") {
  .container {
    position: relative;
  }
}
