<div class="mx-auto px-4  justify-center pt-10 flex min-h-50">
  <mat-card class="flex">
    <mat-card-content>
      <h1 class="bg-green-600 text-white text-center px-4 py-2 ">
        Password Generator
      </h1>
      <div class="flex flex-row justify-center mt-10 mb-10 gap-4">
        <input class="rounded-lg text-red-600 text-center ring-2 ring-blue-500" [value]="password"
               [ngClass]="{'password-change': passwordGenerated}">

        <div class="flex items-center gap-1">
          <div class="text-white p-2 rounded" *ngIf="password" [style.background-color]="backgroundColor">
            {{ getPasswordStrength(password)}}
          </div>
          <button mat-fab color="primary" class="copy" [cdkCopyToClipboard]="password">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>

      </div>

      <div class="block pb-10">
        <div class="flex gap-1 items-center">
          <span class="text-blue-700">Password length: {{passwordLength}}</span>&nbsp;&nbsp;
          <mat-slider min="3" max="20" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb [(ngModel)]="passwordLength">
          </mat-slider>
        </div>
        <div class="mb-30">
          <span class="text-blue-700">Characters used:</span>
          <mat-checkbox [(ngModel)]="passwordUpperCase">ABC</mat-checkbox>

          <mat-checkbox [(ngModel)]="passwordLowerCase">abc</mat-checkbox>

          <mat-checkbox [(ngModel)]="passwordSymbols">#$&</mat-checkbox>

          <mat-checkbox [(ngModel)]="passwordNumbers">123</mat-checkbox>
        </div>
      </div>

      <div class="grid justify-center">
        <button class="pb-10 text-green-500 bg-blue-600 rounded text-white px-4 py-2 text-center outline-blue-400 h-10"
                (click)="generatePassword()">Generate Random Password
        </button>

        <span class="text-green-400 text-xs text-center pt-1">version 1.0.0 @ Sachin Dilshan</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
